# python
python3-tk

# base
gnu-system
bash-completion

# command line
ag
corkscrew
curl
gdb
fio
global
gnupg
htop
ncdu
pinentry
pv
rsync
srm
strace
tzdata
util-linux
valgrind
wget

# compilers
bison
byacc
ccache
flex
#packcc
#nuweb

# compression
bzip2
lz4
zlib
zstd

# database
#ardb
bdb
dbeaver
freetds
#hiredis-vip
#libmemcached
lmdb
#memcachepp
#memcachedb-lmdb
postgres
#redis
sqlite3
#sqsh
#ssdb


# editors
emacs
w3m

# gui
adwaita-icon-theme
adwaita-qt
ddd
evince
feh
#firefox
freerdp
gnome-icon-theme
graphviz
hicolor-icon-theme
kdiff3
libcanberra
meld
gtk2
gtk3
qt5
rxvt-unicode
sway

# filesystem
#samba

# libraries
boost
cJSON
fastcppcsvparser
jsoncpp
libcsv
libdsm
pugixml


# python libs
python3-basemap
#python3-ipython
python3-matplotlib
python3-numpy
python3-pyqt4
#python3-pyside
python3-seaborn
#python3-jupyter
python3-beautifulsoup
python3-pyyaml
python3-jinja2

# R
r-x

# source control
git
#git-crypt
git-lfs
#mercurial
#tortoisehg


# media
vlc
# asunder
# firefox
# chrome

# documentation
#blfs

# Z
#czt
#fuzz
#z-vimes


#email
desproxy
isync
msmtp
notmuch